repos:
  - repo: local
    hooks:
    - id: pytest
      name: pytest
      entry: pytest
      language: system
      types: [python]
      pass_filenames: false
      always_run: true
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix, --show-fixes ]
      # Run the formatter.
      - id: ruff-format